<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="icon" type="image/x-icon" href="/img/logo.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{>header}}

    <div>
        <div>
            <div class="about-1">
                <h1>What is Comic-Creator-App?</h1>
                <p>
                Comic-Creator-App is a unique and innovative web application that brings your creative ideas to life through the fusion of text and imagery. With just a few keystrokes, you can transform your vivid descriptions into captivating comic strips, thanks to the integration of cutting-edge image-to-text technology.
                </p>
            </div>
            <div class="about-2">
                <h1>Does It Work?</h1>
                <p>
    Simply input your narrative for up to 10 comic strips in the provided form, and let our powerful backend, built on Node.js, Django, and other robust technologies, handle the rest. The application seamlessly sends API requests to an image-to-text service, converting your text into visually stunning comic panels. The result? An engaging and dynamic visual representation of your imagination.
                </p>
            </div>
        </div>
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>
</html>