<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="icon" type="image/x-icon" href="/img/logo.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{>header}}

    <div class="flex-container-2">
        <div >
            <H1 class="title">Create your own comic's here.</H1>
            <a class="create" href="/create">Create Now</a>
        </div>
        <img src="/img/comic-demo2.jpg" class="demo" alt="demo-comic-image-here">
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>
</html>