<div class="flex-container">
    <img class="logo-image" src="../img/logo.png" alt="Image here">
    <h1>Comic Creator App</h1> 
    <div class="navbar">
        <a href="/">home</a>
        <a href="/create">create</a>
        <a href="/about">about</a>
    </div>
</div>

